@import "../styles/colors.scss";

* {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $background;
}

.row {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.align-center{
    justify-content: center;
}

.center {
    align-items: center;
}

.end{
    justify-content: end;
}

.column {
    display: flex;
    flex-direction: column;
}

.gap{
    gap: .75em;
}

.margin-1{
    margin: 1em;
}