@import "../../styles/colors.scss";

.graph-column {
    display: flex;
    flex-direction: column;
    justify-content: end;

    .column {
        content: "";
        max-height: 100%;
        align-self: flex-end;
        background-color: $primary;
        justify-self: end;
        display: block;
        border: 5px solid transparent;
        width: 2em;
        border-radius: .25em;

        &:hover {
            cursor: pointer;
        }

        &.principal {
            background-color: $secondary;
        }
    }

    .description {
        align-self: center;
        color: $label;
        font-size: .75em;
    }
}